.navbar{
  font-size: 1.3rem;
}

.btn{
  margin: auto 0.5rem;
}

.content{
  text-align: center;
  margin-top: 3%;
}

.center{
  margin: auto;
  font-size: 2rem;
}


footer{

  padding: 2% 15%;
  text-align: center;
  background-color: #1b262c;
  margin-top: 3.3%;
}

.footer-icon{
margin: auto 20px;
color: white;
margin-bottom: 15px;
}

.footer-text{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
